<div id ="content" class="jumbotron">

        <div class="container col-lg-8 offset-md-2">

        <div class="row">    
            <header id="header" class="col-lg-12">
                <h1>
                    {{title}}
                </h1>
            </header>
        </div>
        <div class="row"> 
            <nav id="nav" class="navbar navbar-dark">
                <ul>
                        <li>
                                <a [routerLink]="['/home']" >Home</a>
                        </li>
                        <li>
                        <a [routerLink]="['/empleado']" > Empleado</a>
                        </li>
                        <li>
                        <a [routerLink]="['/tienda']" >Tienda</a>
                        </li>
                        <li>
                        <a [routerLink]="['/contacto']" > Contacto</a>
                        </li>
                        <li>
                        <a [routerLink]="['/coches']"> Coches</a>
                        </li>
                        <li>
                        <a [routerLink]="['/plantillas']" > Plantillas</a>
                        </li>
                        <li>
                        <a [routerLink]="['/usuarios']" > Usuarios</a>
                        </li>
                </ul>

            </nav>
        </div>
        <div class="row">             

            <section id="main" class="col-lg-12">
                    <router-outlet></router-outlet>
            </section>
        </div>
        <div class="row"> 
            <footer class="col-lg-12">
                Demo Angular
            </footer>
        </div>    
    </div>
</div>
