<h1>
    {{titulo}}
</h1>
  
<!--
<tienda-component></tienda-component>

<empleado-component></empleado-component>
-->
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activado']" >Home</a>
    --
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']"> Empleado</a>
    --
    <a [routerLink]="['/tienda']" [routerLinkActive]="['activado']">Tienda</a>
    --
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']"> Contacto</a>

    --
    <a [routerLink]="['/coches']" [routerLinkActive]="['activado']"> Coches</a>

</nav>

<router-outlet></router-outlet>
